body {
  background: #eee;
  background-attachment: fixed;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica", "Arial", "Verdana", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #111;
  text-align: center;
  margin: 30px 0px 30px 0px;
}

a {
  color: #777;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #777;
}

a:visited {
  color: #777;
}

img {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3 {
  margin: 0px;
  padding: 0px;
  color: #000;
}

h1 {
  margin-bottom: 0px;
  font-weight: normal;
  font-size: 31px;
}
h2 {
  font-size: 21px;
  margin-bottom: 10px;
  font-weight: normal;
}
.body > h2 {
  font-size: 17px;
  margin-bottom: 20px;
  color: #777;
}

p {
  padding: 0px;
  margin: 0px 0px 10px 0px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
}

.body {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.picture600, .picture700 {
  border-radius: 5px;
  box-shadow: 0px 1px 3px #bbb;
  margin-bottom: 10px;
  overflow: hidden;
}
.picture600 img, .picture700 img {
  float: left;
}
.picture600 {
  height: 600px;
}
.picture700 {
  height: 1560px;
}

.content {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 3px #bbb;
  margin-bottom: 10px;
}
.content .pad {
  padding: 20px;
}
.content > table {
  margin: 20px;
}

.leftThirdColumn {
  width: 290px;
  float: left;
}
.rightThirdColumn {
  width: 290px;
  float: right;
}
.middleThirdColumn {
  width: 290px;
  margin-left: 20px;
  float: left;
}
.content .group {
  border-top: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px 0px 10px 0px;
}
.group .faded {
  color: #666;
  font-size: 12px;
}
.group ul {
  padding-left: 20px;
}
.group li {
  margin-top:10px;
  margin-bottom: 10px;
}

.copyright {
  color: #505050;
  margin-top: 20px;
  font-size: 11px;
}