body {
  background-color: #f0f0f0;
}

.container {
}

.icon {
  background-image: url('icon.png');
}

@media screen and (-webkit-device-pixel-ratio: 2) {
  .icon {
    background-image: url('icon@2x.png');
    -webkit-background-size: 72px 72px;
  }
}